APP_PORT=5000
FRONTEND_URL=http://localhost:3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=yourUserName
DB_PASSWORD=yourPassword
DB_NAME=laposte
JWT_SECRET=testtokenjwtWCS2022


mot de passe pour les users dans la database: "premiere lettre prénom + nom"
exemple pour ajouter un user avec postman:


POST localhost:5000/users

{
    "firstname": "Romain",
    "lastname": "Timmer",
    "email": "timmer@gmail.com",   
    "password": "rtimmer"
}

exemple pour login avec postman:
POST localhost:5000/login

{    
    "email": "timmer@gmail.com",   
    "password": "rtimmer"
}

exemple pour ajouter un tutorial avec postman:
POST localhost:5000/tutorials

{
    "theme": 2,
    "difficulty": "débutant",
    "title": "Démarrer et éteindre son téléphone",
    "objective": "Dans ce tutorial vous allez apprendre à démarrer et éteindre votre téléphone"
	"content": "Appuis sur le bouton pour démarrer et éteindre votre téléphone"
	"hashtag": "démarrer,éteindre"
	"author": "Romain Timmer"
}