:root {
  --black: #3c3c3c;
  --grey: #4a4a4a;
  --grey10: #f7f7f7;
  --white: #ffffff;
  --red: #ce5353;
  --blue: #4962be;
  --blue10: #3b6cc8;
  --yellow: #ffc928;

  --blue-gradient: linear-gradient(0deg, #acd8e4, #eef7f9);
  --yellow-gradient: linear-gradient(0deg, #fdef9a, #fefbe5);
  --purple-gradient: linear-gradient(0deg, #b5bee9, #f1f4fa);
  --green-gradient: linear-gradient(0deg, #c6e5b9, #f1faee);

  --title-font: "Montserrat", Arial, sans-serif;
  --text-font: "roboto", sans-serif;
}
